
<form class="form-horizontal" method="post" action="/signin">
  <legend>Sign In to enter in Wonderland</legend>
  <div class="control-group">
    <label class="control-label" for="login">Login</label>
    <div class="controls">
      <input type="text" id="login" name="login" placeholder="Login" required="required" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      <input type="password" id="password" name="password" placeholder="Password" />
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
</form>
